$primary:#F18221;
$success:#48C479;
$info:#8A584B;

.h6{
  font-size: 8px;
}

.hello{
  font-size: 14px;
}
.mylist{
  list-style: none;
  li{
    margin-top: 1rem;
  }
}

#main-item{
  margin-bottom: 1em;
  color: rgb(148, 148, 148);
  text-transform: uppercase;
}

.bi-facebook:hover, .bi-pinterest:hover, .bi-instagram:hover, .bi-twitter:hover{
  font-size: 2.5em;
  cursor: pointer;
  transition-duration: 250ms;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss"

